
table {
    border-collapse: collapse;
    box-shadow: 0 5px 10px gray;
    background-color: white;
    text-align: left;
    overflow: hidden;
}
    
         th {
            border-collapse: collapse;
            padding: 1rem 2rem;
           text-transform: uppercase;
           letter-spacing: 0.1rem;
           font-size: 0.8rem;
           font-weight: 900;
        }
        td{
            text-align: center;
        }
    .status {
    display: inline-block;
    padding: 0.2rem 1rem;
    border-radius: 999px;
    text-align: center;
    font-weight: bold;
}
.status-ready {
      background-color: #0dd317; 
      color: #0a0000;
    }

    .status-pending {
      background-color: #df1324; 
      color: #e4dddd;
    }
   tbody tr:nth-child(even) {
    background-color: rgb(160, 138, 138);
}